<%= form_for([:admin, @lenticular]) do |f| %>
  <% if @lenticular.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lenticular.errors.count, "error") %> prohibited this lenticular from being saved:</h2>

      <ul>
      <% @lenticular.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <% if @lenticular.image.url != '/images/original/missing.png' %>
      <%= image_tag @lenticular.image.url, :width => 100 %><br><%= @lenticular.image_dimensions %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :anchor_hyperlink_reference %><br>
    <%= f.text_field :anchor_hyperlink_reference, :placeholder => "http://example.com/" %>
  </div>

  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", admin_lenticulars_path %>
  </div>
<% end %>
