<h1>Listing lenticulars</h1>

<% if @lenticulars.any? %>
<%= form_tag do |f| %>
  <table width="100%" id="lenticulars" class="datatable">
    <thead>
      <tr>
        <th>Order</th>
        <th>Image</th>
        <th>Lense</th>
        <th>Anchor hyperlink reference</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @lenticulars.each do |lenticular| %>
        <tr>
          <td><a class="handle">&#9776;</a> <%= lenticular.position %></td>
          <td><%= image_tag lenticular.image.url, :width => 100, :title => lenticular.image_dimensions %></td>
          <td><%= image_tag lenticular.lense.url, :width => 100, :title => lenticular.lense_dimensions %></td>
          <td><%= link_to lenticular.anchor_hyperlink_reference, lenticular.anchor_hyperlink_reference %></td>
          <td><input type="radio" id="background_<%= lenticular.id %>" name="background[]" value="<%= lenticular.id %>"><label for="background_<%= lenticular.id %>">Use as Background</label></td>
          <td><%= link_to 'Show', "/\#lenticular_#{lenticular.id}", :class => "update button", :target => "_blank" %></td>
          <td><%= link_to 'Edit', edit_admin_lenticular_path(lenticular), :class => "edit button" %></td>
          <td><%= link_to 'Destroy', [:admin, lenticular], method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Lenticular', new_admin_lenticular_path, :class => "new button" %>
<% else %>
  <p>No Lenticulars to display. Why not <%= link_to "Add One", new_admin_lenticular_path %></p>
<% end %>