<h1>Listing lenticulars</h1>

<%= link_to 'New Lenticular', new_admin_lenticular_path, :class => "new button" %>

<% if @lenticulars.any? %>

  <%= form_tag do |f| %>
    <table width="100%" id="lenticulars" class="datatable">
      <thead>
        <tr>
          <th></th>
          <th>Image</th>
          <th>Anchor hyperlink reference</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @lenticulars.each do |lenticular| %>
          <tr data-id=<%= lenticular.id %>>
            <td><a class="handle">&#x2195;</a></td>
            <td>
              <%= image_tag lenticular.image.url(:thumb), :title => lenticular.image_dimensions %>
              <br>
              <%= lenticular.image_file_name %>
            </td>

            <td class="center">
              <% if lenticular.anchor_hyperlink_reference != '' %>
                <%= link_to "&infin;".html_safe, lenticular.anchor_hyperlink_reference, :class => "vanity", :title => lenticular.anchor_hyperlink_reference, :target => "_blank" %>
              <% end %>
            </td>


            <td>
              <%= radio_button :background_config, :value, lenticular.id %>
              <%= label :background_config_value, lenticular.id, 'use as background' %>
            </td>


            <td>
              <%= radio_button :lense_config, :value, lenticular.id %>
              <%= label :lense_config_value, lenticular.id, 'use as master lense' %>
            </td>

            <td><%= link_to 'Edit', edit_admin_lenticular_path(lenticular), :class => "edit button" %></td>
            <td><%= link_to 'Destroy', [:admin, lenticular], method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete button" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

<% else %>

  <p>No Lenticulars to display. Why not <%= link_to "Add One", new_admin_lenticular_path %> ?</p>

<% end %>