<h1>Listing lenticulars</h1>

<%= link_to 'New Lenticular', new_admin_lenticular_path, :class => "new button" %>


<% if @lenticulars.any? %>

  <%= form_tag do |f| %>
    <table width="100%" id="lenticulars" class="datatable">
      <thead>
        <tr>
          <th></th>
          <th>Image</th>
          <th>Anchor hyperlink reference</th>
          <th></th>
          <!-- <th></th> -->
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @lenticulars.each do |lenticular| %>
          <tr data-id=<%= lenticular.id %>>
            <td><a class="handle">&#x2195;</a></td>
            <td><%= image_tag lenticular.image.url(:thumb), :title => lenticular.image_dimensions %></td>

            <td><%= link_to lenticular.anchor_hyperlink_reference, lenticular.anchor_hyperlink_reference %></td>

            <td><input type="radio" id="background_<%= lenticular.id %>" name="background" value="<%= lenticular.id %>"><label for="background_<%= lenticular.id %>">use as background</label></td>
            <td><input type="radio" id="lense_<%= lenticular.id %>" name="lense" value="<%= lenticular.id %>"><label for="lense_<%= lenticular.id %>">use as master lense</label></td>
            <!-- <td><%= link_to 'Show', "/\#lenticular_#{lenticular.id}", :class => "update button", :target => "_blank" %></td> -->
            <td><%= link_to 'Edit', edit_admin_lenticular_path(lenticular), :class => "edit button" %></td>
            <td><%= link_to 'Destroy', [:admin, lenticular], method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete button" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

<% else %>
  <p>No Lenticulars to display. Why not <%= link_to "Add One", new_admin_lenticular_path %></p>
<% end %>