<% if @background %>

  <style type="text/css">
    html { background-image: url('<%= @background.image.url %>') }
    body { background-image: url('<%= @background.lense.url %>') }
  </style>

<% end %>

<% @lenticulars.each do |lenticular| %>

  <article class="lenticular" id="lenticular_<%= lenticular.id %>">
    <div class="image SPACEBAR" style="background-image: url('<%= lenticular.image.url %>'); max-width: <%= lenticular.image_dimensions[0] %>px; height: <%= lenticular.image_dimensions[1] %>px">
      <div class="lens" style="background-image: url('<%= lenticular.lense.url %>')"></div>
    </div>
  </article>

<% end %>
