<% if @background %>
<% end %>

<% if @background %>
  <% content_for :additional_css do %>
    <style type="text/css">
      html { background-image: url('<%= @background.image.url %>') }
      #lense { background-image: url('<%= @lense.image.url %>') }
    </style>
  <% end %>
<% end %>

<% if @background %>
  <div id="background-info" data-image-width="<%= @background.image_dimensions[0] %>" data-image-height="<%= @background.image_dimensions[1] %>" data-lense-width="<%= @lense.image_dimensions[0] %>" data-lense-height="<%= @lense.image_dimensions[1] %>"></div>
<% end %>

<% if @lenticulars.any? %>

  <%= render partial: "lenticular", collection: @lenticulars %>

<% else %>

  <p>no lenticulars to display</p>

<% end %>

