<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="loading no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="loading no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="loading no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="loading no-js"> <!--<![endif]-->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Website for Thu Tran, based in New York.">
<meta name="robots" content="noindex, nofollow">
<meta name="viewport" content="initial-scale=1">

<title>Admin - Thu Tran</title>

<meta property="og:image" content="http://files.flourshop.com/fs-sprinkles-50.png">

<link rel="icon" href="<%= image_path('favicon.png') %>">
<link rel="apple-touch-icon-precomposed" href="<%= image_path('favicon.png') %>">


<%= stylesheet_link_tag "admin/application", media: "all" %>

<%= javascript_include_tag "admin/application" %>

<%= csrf_meta_tags %>

<body class="admin <%= controller_name %> <%= action_name %>">

  <% flash.each do |key, value| %>
    <div class='flash' id='<%= key %>'>
      <%= value %>
    </div>
  <% end %>

  <header>

    <h1><%= link_to "Thu Tran", admin_root_path, { id: "mini-logo"} %></h1>

    <nav id="mini-menu">

      <% if user_signed_in? %>
        <span>Welcome <%= current_user.email %></span>
        <%= link_to "Edit Profile", edit_user_registration_path %>
      <% end %>

      <%= link_to "View Website", root_path, :target => "_blank" %>

      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>

    </nav>

  </header>

  <div id="content">
    <%= yield %>
  </div>

