<!doctype html>
<html class="loading" style="">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=.5">
<link rel="shortcut icon" href="http://files.human-nyc.com/thutran/thu-favi.png">

<!-- Facebook Open Graph -->
<meta property="og:image" content="http://files.human-nyc.com/thutran/thutran-bubble.png">
<meta property="og:url" content="http://www.thutran.com/">
<meta property="og:title" content="Thu Tran">

<title>Thu Tran</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<%= content_for :additional_css %>

<body>

  <div id="content">
    <%= yield %>
  </div>

  <%= render "shared/footer" %>

  <div id="lense" data-width="<%= @lense.image_dimensions[0] %>" data-height="<%= @lense.image_dimensions[1] %>"></div>

  <a id="instructions-toggle">?</a>

  <div id="instructions">
    scroll to animate
    <br>
    press *spacebar* to toggle autoplay
  </div>

</body>